body {
    background: #F1F1F1;
}

body > .container {
    margin: 5rem auto;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

header.bs-docs-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border: none;
    background: #A94F74;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

header.bs-docs-nav .navbar-brand {
    background: inherit;
}

#ui-tabs .active a {
    background: #B96A8B;
}

#ui-tabs > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #B96A8B;
}

.dropdown-menu > li > a {
    color: #A94F74;
}

.modal-dialog .panel-success {
    border-color: lightgrey;
}

.modal-dialog .panel-heading {
    background-color: #A94F74 !important;
}

.modal-dialog .panel-heading select {
    margin-top: 1rem;
}