[flake8]
max-line-length = 120
ignore =  E402, E203, W503, W605, E722, E501
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
